<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>FullFledgedStuffApplication</display-name>
  <welcome-file-list>
    <welcome-file>Homepage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>register_controller</servlet-name>
    <servlet-class>com.controllers.register.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register_controller</servlet-name>
    <url-pattern>/registerControllerPath</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login_controller</servlet-name>
    <servlet-class>com.controllers.login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login_controller</servlet-name>
    <url-pattern>/loginControllerPath</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logout_controller</servlet-name>
    <servlet-class>com.controllers.logout.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout_controller</servlet-name>
    <url-pattern>/logoutControllerPath</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>forgot_password_controller</servlet-name>
    <servlet-class>com.controllers.login.ForgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgot_password_controller</servlet-name>
    <url-pattern>/forgotPasswordControllerPath</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>category_and_view_controller</servlet-name>
    <servlet-class>com.controllers.categoryAndView.CategoryAndView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>category_and_view_controller</servlet-name>
    <url-pattern>/categoryAndViewController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>product_view_controller</servlet-name>
    <servlet-class>com.controllers.productView.ProductView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>product_view_controller</servlet-name>
    <url-pattern>/ProductViewControllerPath</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>shopping_cart_controller</servlet-name>
    <servlet-class>com.controllers.shoppingcart.ShoppingCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shopping_cart_controller</servlet-name>
    <url-pattern>/shoppingCartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>order_confirmation_controller</servlet-name>
    <servlet-class>com.controllers.orderConfirmation.OrderConfirmation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>order_confirmation_controller</servlet-name>
    <url-pattern>/OrderConfirmationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>user_profile_controller</servlet-name>
    <servlet-class>com.controllers.userProfile.UserProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user_profile_controller</servlet-name>
    <url-pattern>/UserProfileControllerPath</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>random_products_controller</servlet-name>
    <servlet-class>com.controllers.randomProducts.RandomProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>random_products_controller</servlet-name>
    <url-pattern>/RandomProductsControllerPath</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Add_Item_Controller</servlet-name>
    <servlet-class>com.controllers.Admin.addItems.AddItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Item_Controller</servlet-name>
    <url-pattern>/addItemController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveItem_Controller</servlet-name>
    <servlet-class>com.controllers.Admin.removeItem.RemoveItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveItem_Controller</servlet-name>
    <url-pattern>/removeItemController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateItem_Controller</servlet-name>
    <servlet-class>com.controllers.Admin.updateItem.UpdateItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateItem_Controller</servlet-name>
    <url-pattern>/UpdateItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Search_Box_Controller</servlet-name>
    <servlet-class>com.controllers.searchBox.SearchBox</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search_Box_Controller</servlet-name>
    <url-pattern>/SearchSearch</url-pattern>
  </servlet-mapping>
</web-app>